@import 'theme';

#tableau-light {
  .state-option {
    background: $color2;
  }

  .state-inactif,
  .state-annule {
    background: $color-error;
  }

  .state-actif,
  .state-confirm {
    background: $color-success;
  }
}

app-template-a #tableau-light thead {
  background: $dark-color;
  color:$light-color
}

app-template-b #tableau-light thead {
  background: $color-success;
  color:$light-color
}
