@import 'theme';

#tableau-dark {
  .state-option {
    background: $color3;
  }

  .state-annule,
  .state-inactif {
    background: $color-error;
  }

  .state-actif,
  .state-confirm {
    background: $color-success;
  }
}
