@import 'theme';

#tableau-dark {
  .state-option {
    background: $color3;
  }

  .state-annule,
  .state-inactif {
    background: $color-error;
  }

  .state-actif,
  .state-confirm {
    background: $color-success;
  }
}

app-template-a #tableau-dark thead {
  background: $dark-color;
  color:$light-color
}

app-template-b #tableau-dark thead {
  background: $color-success;
  color:$light-color
}
