<app-tableau-light [headers]="headers" [collection]="collection">
     <tr *ngFor="let item of collection">
        <td>{{item.typePresta}}</td>
            <td>{{item.client}}</td>
            <td>{{item.nbJours}}</td>
            <td>{{item.tjmHt}}</td>
            <td>{{item | total | currency :'EUR'}}</td>
            <td>{{item | total: item.tauxTva | currency: 'EUR'}}</td>
            <td [appState]="item.state">
               <select (change)="changeState(item, $event)">
                 <!-- < Angular 6-->
                 <!-- <option *ngFor="let state of states" [value]="state">{{state}}</option> -->

                <!-- >= Angular 6 -->
                <option *ngFor="let state of states | keyvalue" [value]="state.value" selected="state.value === item.state">{{ state.value }}</option>
            </select>
            </td>
     </tr>
</app-tableau-light>

